{% extends "article/layout.html" %}



{% block title %}Blog {% endblock %}

{% block body %}

<h1><p class="a-chinese">{{ article.title }}</p></h1>

{{ article.created_time|date:"F j, Y" }} Created. {{ article.modified|date:"F j, Y" }} Modified.
{{ article.read_times }} Read. {{ article.comment_set.count }} Comment.

<p>
{% for tag in article.tags.all %}<a href="{% url 'article:tag' tag.pk %}" class="a-chinese">{{ tag.name }}</a>&nbsp;{% endfor %}</p>

<hr>

{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">Catalogue:</h3>
        <p class="a-chinese">{{ article.toc|safe }}</p>
    </div>
    <hr>
{% endblock toc %}

<div class="a-chinese">
{{ article.body |safe}}
</div>

<hr>

<ul class="comment-list list-unstyled">
<h3>Comments({{ article.comment_set.count }}):</h3>
  {% for comment in comment_list %}
  <li class="comment-item">
    <span class="nickname"><a href="mailto:comment.email" style="color: 
            color: #8470FF;">@{{ comment.name }}</a></span>
    <time class="submit-date">{{ comment.created_time }}</time>
    <div class="text">
      {{ comment.text }}
    </div>
  </li>
  {% empty %}
  暂无评论
  {% endfor %}
</ul>




<hr>

<form action="{% url 'comments:post_comment' article.pk %}" method="post" class="comment-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <label for="{{ form.name.id_for_label }}">Name：   </label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <div class="col-md-4">
      <label for="{{ form.email.id_for_label }}">Email：  </label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
    <div class="col-md-4">
      <label for="{{ form.url.id_for_label }}">URL：    </label>
      {{ form.url }}
      {{ form.url.errors }}
    </div>
    <div class="col-md-12">
      <label for="{{ form.text.id_for_label }}">Comment：</label>
      {{ form.text }}
      {{ form.text.errors }}
      <button type="submit" class="comment-btn">Submit</button>
    </div>
  </div>    <!-- row -->
</form>




{% endblock %}



{% block tag %}

{% endblock %}
